.label22 {
  position: relative;
  line-height: 16px;
  font-weight: 600;
}
.assetsview-button,
.views {
  flex-direction: row;
  justify-content: flex-start;
}
.assetsview-button {
  border-radius: var(--br-9xs);
  background-color: var(--text-on-primary);
  display: none;
  align-items: center;
  padding: var(--padding-5xs) var(--padding-xs);
}
.views {
  flex: 1;
  display: flex;
  align-items: flex-start;
  gap: var(--gap-11xs);
}
.search-filter-button,
.sort-button-icon {
  position: relative;
  border-radius: var(--br-9xs);
  width: 46px;
  height: 31px;
  overflow: hidden;
  flex-shrink: 0;
}
.sort-button-icon {
  width: 30px;
}
.controls,
.typedefault-statedefault-l {
  width: 84px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
}
.typedefault-statedefault-l {
  border-radius: var(--br-5xs) var(--br-5xs) 0 0;
  background-color: var(--text-on-primary);
  box-shadow: var(--divider-bottom);
  width: 1156px;
  overflow: hidden;
  justify-content: flex-start;
  padding: var(--padding-5xs);
  box-sizing: border-box;
  gap: var(--gap-25xl);
  text-align: center;
  font-size: var(--bodysm-semibold-size);
  color: var(--text-subdued);
  font-family: var(--bodymd-medium);
}
